VITE_APP_TITLE=AVX综管中心
VITE_APP_PORT=1999
VITE_APP_OPEN_PROXY=true
VITE_APP_TOKEN_PREFIX=m888
VITE_APP_BASE=/

VITE_APP_BASE_URL=https://888rufrjei49rue905if.m3appmanage.com
VITE_APP_URL=https://888rufrjei49rue905if.m3appmanage.com
VITE_APP_WS_URL=wss://888rufrjei49rue905if.m3appmanage.com/message.io
VITE_APP_PROXY_PREFIX=/prod
